*{
box-sizing:border-box;

}
header{
  float:left;
  paddng:20px;

}

.container {

  background-image: url(IMG_3078.JPG);
  background-size:cover;
  background-position: center;
  height:600px
}
.container h1{
  color: white;
font-size:90px;
font-family:"Hiragino Kaku Gothic ProN";
text-align: center;
letter-spacing: 2px;
}
.container h2{
  font-size:20px;
  font-family:serif;
  text-align:center;
}
.container p{
  font-size:25px;
  font-family: serif;
  text-align:center;
}
.main-content{
  border-bottom: 2px solid #333;
 text-align:center;
   font-size:20px;
   margin-bottom:10px;
}

.btn-wrapper{
padding:10px 24px;
display:block;
opacity: 0.8;
background-color:#239b76;
box-shadow:5px 5px;
width:1200px;
text-align:center;
border-radius: 10px;
line-height:65px;
margin-bottom: 10px;
}
.btn-wrapper:active{
  box-shadow:none;
}

.btn{
  color:white;
  display:block;
}
input,textarea{
  width:400px

}
li{
list-style: none;

}

.contact-form{
font-size:24px;

}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}
@media(max-width:670px ){
  .btn-wrapper{
    width:100%;
  }

}
@media(max-width:10000x){
   .btn-wrapper{
      width:100%;
}

}
